/*Partie css du menutop.php */

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Kanit', sans-serif;
    background-color: #fcfbdd;
}

#menutop{
    background-color: #fff6a7;
    display: flex;
    justify-content: space-around;
    padding: 0.7%
}

a{
    text-decoration: none;
    color: black;
}

section{
    display: none;
}

#accueil{
    display: block;
}

section:not(:target), section:target ~ #accueil{
    display: none;
}

section:target {
    display: block;
}

/*Fin de la partie css du menutop.php */

/*Partie css du accueil.php */

#nom{
    padding: auto;
    margin: auto;
    height: 140px;
    background-image: url('img/background_1.png');
    text-align: center;
    padding-top: 3.0%;
}

#accroche{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#display > #photo{
    display: flex;
    justify-content: space-around;
    flex: auto;
    padding-top: 40px;
}

#accueil h2{
    text-align: center;
}

#accueil p{
    padding: 1%;
    text-align: center;
}

#accueil img{
    width: 400px;
    border-radius: 5px;
}
/*Fin de la partie css du accueil.php */

/*Partie css du a_propos.php */

#a_propos h1{
    text-align: center;
}

#info{
    display: flex;
    justify-content: space-evenly;
}

#dside{
    width: 400px;
    margin-left: -100px;
}

#a_propos p{
    text-align: center;
}

#a_propos img{
    width: 400px;
}

/*Fin de la partie css du a_propos.php */